@import './tailwind.css';

:root {
	--font-size: 114%;
	--line-height: 154%;
}

body {
	/* background-color: #f8f5ea; */
	/* background-color: #F9F5E9; */
	background-color: #f3ede0;
	max-width: 100svw;
}

body > div > aside {
	position: fixed;
}

main {
	@apply mt-12;
	@apply break-words;
	max-width: 64rem;
	margin: auto;
	font-size: 112%;
	line-height: 154%;
	/* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	font-family: 'Sitka Text';
	color: #2a2a2a;
}

main h1 {
	@apply font-semibold;
	@apply text-3xl;
	@apply mt-12 mb-6;
}

main article {
	margin: auto 5%;
}

main section {
	@apply my-4;
	display: flow-root;
}

main section img {
	@apply float-left;
	@apply mr-2 mb-1;
}

section:not(:first-of-type) {
	@apply pt-4;
}

p {
}

blockquote {
	@apply border-l-2;
	@apply border-red-800;
	@apply whitespace-pre-wrap;
	@apply pl-3 py-1;
	@apply my-1;

	@apply italic;
	line-height: 170%;
}

writer {
	@apply font-bold;
}
