@import './tailwind.css';

:root {
	--font-size: 114%;
	--line-height: 154%;
}

nav {
	list-style: none;
}

body,
#site-header {
	background-color: #eeebe5;
}

body {
	color: #151515;
}

main {
	@apply pt-14;
	@apply break-words;
	max-width: 64rem;
	margin: auto;
	font-size: 112%;
	line-height: 154%;
	font-family: 'Sitka Text', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Roboto, Ubuntu, sans-serif;
}

main h1:first-of-type {
	@apply text-3xl;
	@apply mt-12 mb-6;
	@apply font-semibold;
}

main a {
	@apply text-blue-900;

	&:hover {
		@apply underline;
	}
}

main > article {
	@apply flow-root;
	@apply my-5 py-2;
}

main > article p + p {
	@apply mt-3;
}

main > footer {
	@apply mt-4 mb-8;
}

main article img {
	@apply float-left;
	@apply mr-2 mb-1;
}

blockquote,
pre {
	@apply my-4;
	@apply text-wrap;

	&:last-child {
		@apply mb-0;
	}
}

blockquote {
	@apply border-l-2;
	@apply border-red-800;
	@apply whitespace-pre-wrap;
	@apply pl-3 py-1;

	@apply italic;
	line-height: 170%;
}

pre {
	@apply font-mono italic;
	font-size: 92%;
}

writer {
	@apply inline;
	@apply font-semibold;
}

.scroll-lock {
	scrollbar-gutter: stable;
	overflow: hidden;
}
